<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean name="movieA,movieB" class="com.stackroute.domain.Movie" scope="prototype">
        <constructor-arg name="actor1">
            <bean id="actor1" class="com.stackroute.domain.Actor">
                <constructor-arg name="name" value="Avi"></constructor-arg>
                <constructor-arg name="gender" value="M"></constructor-arg>
                <constructor-arg name="age" value="23"></constructor-arg>
            </bean>
        </constructor-arg>
        <constructor-arg name="actor2">
            <bean id="actor2" class="com.stackroute.domain.Actor">
                <constructor-arg name="name" value="Kunal"></constructor-arg>
                <constructor-arg name="gender" value="M"></constructor-arg>
                <constructor-arg name="age" value="23"></constructor-arg>
            </bean>
        </constructor-arg>
        <constructor-arg name="actor3">
            <bean id="actor2" class="com.stackroute.domain.Actor">
                <constructor-arg name="name" value="Utkarsh"></constructor-arg>
                <constructor-arg name="gender" value="M"></constructor-arg>
                <constructor-arg name="age" value="23"></constructor-arg>
            </bean>
        </constructor-arg>

    </bean>

</beans>